/* styles/AddRoute.module.css */

.container {

    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
height: auto;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    margin-bottom: 8px;
    font-weight: bold;
    margin-right: 30px;
  }
  
  .inputField,
  .textareaField,
  .colorPicker {
 display: flex;
 top: 100px;
    width: 50%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  .inputField:focus,
  .textareaField:focus,
  .colorPicker:focus {
    outline: none;
   
    border-color: #0070f3;
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
  }
  
  .textareaField {
    resize: vertical;
    min-height: 120px;
  }
  
  .colorPicker {
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
    border-radius: 50%;
  }
  
  .submitButton {
    margin-top: 50px; /* Adjust margin top as needed */
    margin-bottom: 50px; /* Adjust margin bottom as needed */
    padding: 12px 24px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    font-size: 20px;
  }
  
  
  .submitButton:hover {
  
    background-color: #005bb5;
  }
  
  