.pageLayout {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* White background for the main layout */
}

.mainContent {
  display: flex;
  flex: 1;
  margin-top: 57px; /* Height of the navbar */
}

.sidebar {
  width: 250px; /* Adjust width as needed */
  border-right: 0.5px solid rgb(223, 222, 222);
  background-color: #ffffff; /* Sidebar background */
  position: fixed; /* Keeps the sidebar fixed on the left */
  height: calc(100vh - 57px); /* Full height minus navbar height */
  overflow-y: auto; /* Enable scrolling if content overflows */
  z-index: 1000;
}

.title {
  color: #032975; /* Main color for titles */
  margin-bottom: 40px; /* Spacing below titles */
}

.content {
  margin-left: 250px; /* Width of the sidebar */
  padding: 20px;
  width: 70%;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #032975; /* Main color for labels */
  font-weight: bold; /* Bold labels for emphasis */
}

.inputField, .colorPicker, .textareaField {
  width: 100%;
  padding: 10px; /* More padding for a modern look */
  border-radius: 4px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.colorPicker {
  height: 40px; /* Increase height for better visibility */
}

.textareaField {
  resize: vertical;
  min-height: 100px; /* Minimum height for text area */
}

.submitButton {
  padding: 10px 20px;
  background-color: transparent; /* Transparent background for outlined button */
  color: #032975; /* Blue color for button text */
  border: 2px solid #032975; /* Blue border for outlined button */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
  margin-top: 20px; /* Space above the button */
  width: 100%;
}

.submitButton:hover {
  background-color: #032975; /* Blue background on hover */
  color: white; /* White text on hover */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgb(223, 222, 222);
  background-color: white;
  color: rgb(122, 122, 122);
  font-size: 14px;
  z-index: 1000;
}
