/* src/addRoute/addRoute.module.css */
.pageLayout {
  display: flex;
  flex-direction: column;

  background-color: rgb(236, 236, 236);
}

.mainContent {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 10px; /* Adjust width as needed */
  border-right: 0.5px solid rgb(223, 222, 222);
  background-color: white;
  position: fixed; /* Keeps the sidebar fixed on the left */
 /* Adjust to match the height of the Navbar */
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: calc(100vh - 57px);
  z-index: 1000;
}
.tit{
  color: #ffb51e;

 
}
.content {
margin-top: 100px;
  margin-left: 300px; 
  margin-right: 200px;/* Width of the sidebar */
  padding: 20px;
  flex: 4;
  overflow-y: auto;
  width: 100px;
}

.container {
  max-width: 1200px; /* Set a max width for better readability */
  margin: 0 auto; /* Center the content */
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #032975;}
.inputField, .colorPicker, .textareaField {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.colorPicker {
  height: 30px;
}

.textareaField {
  resize: vertical;
}

.submitButton {
  padding: 10px 20px;
  background-color:#032975;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  width: 200px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgb(223, 222, 222);
  background-color: white;
  color: rgb(122, 122, 122);
  font-size: 14px;
  z-index: 1000;
}
