.routesOverview {
  padding: 20px;
  background-color: transparent;
  height: 400px;
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;

}

.routeList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  max-width: 1200px;
}

.routeCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 200px;
  height: 80px;
  position: relative;
  box-shadow: 0 4px 8px rgba(3, 41, 117, 0.2), 0 6px 20px rgba(3, 41, 117, 0.15);

}

.routeCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.activeCard::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
}

.statusCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b1b1b1; /* Default: white */
}

.activeCard .statusCircle {
  background-color: #ffcc00; /* Yellow for active state */
}

.routeName {
  font-size: 18px;
  font-weight: bold;
  color: #032975;
}

.detailsSection {
  margin-top: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  min-height: 80px;
  display: flex;
  flex-direction: row; /* Row alignment */
  gap: 20px; /* Space between details and button */
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(3, 41, 117, 0.2), 0 6px 20px rgba(3, 41, 117, 0.15);
  
}

.placeholder {
  font-size: 16px;
  color: #777777;
  text-align: center;
}
