.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(223, 222, 222);
    min-height: 100vh;
    background-color: white;
}

.sidebar .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo {
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color:rgb(0, 110, 255);
}

.sidebar hr {
    margin-top: 7px;
    height: 0px;
    border: 0.5px solid rgb(223, 222, 222);
}

.sidebar .center {
    padding-left: 10px;
}

.sidebar .center ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar .center .tittle {
    font-size: 11px;
    color: rgb(201, 200, 200);
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.sidebar .center li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.sidebar .center li:hover {
    color: rgb(0, 110, 255);
    font-size: 14px;
    width: 50px;
}

.sidebar .center .icon {
    font-size: 23px;
    color: rgb(0, 110, 255);
    margin-right: 5px;
}

.sidebar .center span {
    font-size: 13px;
    font-weight: 600;
    color: rgb(156, 154, 154);
}

.sidebar .bottom {
    display: flex;
    margin: 10px;
    align-items: center;
    margin-left: 18px;
    margin-top: 15px;
}

.sidebar .bottom .coloroptions {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 193);
    cursor: pointer;
}

.sidebar .bottom .coloroptions:nth-child(1) {
    background-color: whitesmoke;
    margin-right: 5px;
}

.sidebar .bottom .coloroptions:nth-child(2) {
    background-color: rgb(32, 32, 32);
}
